RESEND_API_KEY=---IGNORE ---


NEXT_PUBLIC_GITHUB_URL=https://github.com/AnicetJonhia
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/anicet-jonhia-randrianambinina-266628244/
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/anicet.jonhia/

NEXT_PUBLIC_CONTACT_PHONE_DISPLAY=+261 34 48 224 12
NEXT_PUBLIC_CONTACT_PHONE_VALUE=+261344822412
NEXT_PUBLIC_CONTACT_EMAIL=anicet22.aps2a@gmail.com