RESEND_API_KEY=---IGNORE ---


NEXT_PUBLIC_GITHUB_URL=https://github.com/AnicetJonhia
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/anicet-jonhia-randrianambinina-266628244/
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/anicet.jonhia/